#Logic Building Questions

In [1]:
#wap to print the series of 1,2,3,...n
n = int(input("Enter the Value"))

for i in range(1,n+1):
    print(i,end = ',')

Enter the Value 10

1,2,3,4,5,6,7,8,9,10,

In [2]:
#2. Write a program to print the series N,..3,2,1.
n = int(input("Enter the value"))

for i in range(n,1-1,-1):
    print(i,end = ',')

Enter the value 10

10,9,8,7,6,5,4,3,2,1,

In [3]:
#3. Write a program to print the first N terms of the series 1,4,9,16.....
n = int(input("Enter a value for loop"))

for i in range(1,n+1):
    i=i**2
    print(i,end = ',')

Enter a value for loop 10

1,4,9,16,25,36,49,64,81,100,

In [4]:
#4. Write a program to print the first N terms of the series 1,8,27,64.....
n = int(input("Enter the value for loop"))

for i in range(1,n+1):
    i = i**3
    print(i,end=',')

Enter the value for loop 10

1,8,27,64,125,216,343,512,729,1000,

In [5]:
#5. Write a program to print the first N terms of the series 1,3,5,.....
n = int(input("Enter a value:"))

for i in range(1,n+1,2):
    print(i,end = ',')

Enter a value: 10

1,3,5,7,9,

In [6]:
#6. Write a program to print the first N terms of the series 0,2,4,.....
n=int(input("Enter the value"))

for i in range(0,n+1,2):
    print(i,end=',')

Enter the value 10

0,2,4,6,8,10,

In [7]:
#7. Write a program to print the first N terms of the series 1,-1,1,-1,.....
n =int(input("Enter the Value"))

for i in range(1,n+1):
    if(i%2==0):
        print(1,end=',')
    else:
        print(-1,end = ',')

Enter the Value 10

-1,1,-1,1,-1,1,-1,1,-1,1,

In [8]:
#8. Write a program to print the first N terms of the series 1,0,1,0.....
n=int(input("Enter the Value"))

for i in range(1,n+1):
    if(i%2==0):
        print(0,end = ',')
    else:
        print(1,end = ',')

Enter the Value 10

1,0,1,0,1,0,1,0,1,0,

In [9]:
#10.Write a program to print the first N terms of the series 9,99,999,.....
n = int(input("Enter a value-->"))

term = 9
for i in range(n):
    term = term*10+9
    print(term)

Enter a value--> 10

99
999
9999
99999
999999
9999999
99999999
999999999
9999999999
99999999999

In [10]:
#11.Write a program to print the first N terms of the series 0,1,2,3,0,1,2,3,0,1,.....
n = int(input("Enter a value:"))

for i in range(n):
    i = i%4
    print(i,end = ',')

Enter a value: 10

0,1,2,3,0,1,2,3,0,1,

In [11]:
#12.Write a program to print the first N terms of the series 1,2,3,4,1,2,3,4,1,2,.....
n = int(input("Enter a value:"))

for i in range(1,n+1):
    i = i%5
    print(i,end = ',')

Enter a value: 101

1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,0,1,

In [12]:
#13.Write a program to print first N terms of the Fibonacci series 0, 1, 1, 2, 3, 5,...
n = int(input("Enter a value:"))
num1 = 0
num2 = 1
count = 1
nxt_num = num2

while(count<=n):
    print(nxt_num,end=',')
    count+=1
    num1,num2=num2,nxt_num
    nxt_num=num1 + num2

Enter a value: 20

1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181,6765,10946,

In [13]:
#14.Write a program to print first N terms of the Tribonacci series 0,0,1,1,2,4,7,13â€¦
n = int(input("enter a value:"))
num1 = 0
num2 = 0
num3 = 1
count = 1
nxt_num = num3
while(count<=n):
    print(nxt_num,end = ',')
    count+=1
    num1,num2,num3 = num2,num3,nxt_num
    nxt_num =num1+ num2 + num3

enter a value: 10

1,2,4,7,13,24,44,81,149,274,

In [14]:
#15.Write a program to calculate sum of digits of a number.
n = int(input("Enter a value:"))
sum = 0
while(n>0):
    digit = n%10
    sum = sum + digit
    n = n//10
print(sum)

Enter a value: 10

1

In [ ]:
#16.Write a program to count digits of a number.
n= int(input("Enter a value"))
count = 0
while(n>0):
    count = count+1
    n=n//10
print(count)

In [10]:
#17.Write a program to reverse a number
n = int(input("Enter a value:"))
rev = 0
while(n!=0):
    digit = n%10
    rev = rev*10+digit
    n=n//10
print(rev)

Enter a value: 1234

4321

In [30]:
#Write a program to check whether a given number is palindrome or not.
n = int(input("Enter a num:"))
temp =n
rev = 0
while(n!=0):
    digit = n%10
    rev = rev*10 + digit
    n = n//10
if(rev==temp):
    print("Palindrome")
else:
    print("Number is not a palindrome")

Enter a num: 1111

Palindrome

In [1]:
#19.Write a program to calculate factorial of a number.
n = int(input("Enter a value:"))
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(f"The Factorial of {n} is {fact}")

Enter a value: 5

The Factorial of 5 is 120

In [36]:
#20.Write a program to calculate power P of a number N.
n = int(input("Enter a value:"))
for i in range(1,n+1):
    i = i*n
print(i)

Enter a value: 3

9

In [5]:
#25.Write a program to check whether a given number is prime or not.
n = int(input("Enter a value:"))
print(f"The first {n} prime no.s are")
for i in range(1,n+1,2):
    print(i,end=',')

Enter a value: 100

The first 100 prime no.s are
1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [7]:
#28.Write a program to input two numbers and calculate their LCM & HCF.
n1 = int(input("Enter a value:"))
n2 = int(input("Enter a value:"))

a = n1
b = n2

while b:
    a,b=b,a%b

gcd = a

lcm = (n1*n2)//gcd

print(f"The lcm of {n1} and {n2} is {lcm} ")

Enter a value: 24
Enter a value: 25

The lcm of 24 and 25 is 600

In [11]:
#Write a program to check whether a given number is Armstrong or not. For example 153 is a Armstrong number. There are 3 digits in 153. 1^3+5^3+3^3=1+125+27=153.
n = int(input("Enter a value"))
temp = n
rev = 0
sum = 0

while(n!=0):
    digit = n%10
    rev = digit **3 + rev
    sum = sum + rev
    n=n//10
if(temp==rev):
    print("This is an armstrong no.")
else:
    print("This is not an armstrong no.")

Enter a value 407

This is an armstrong no.

In [6]:
#40.Write a program to design a calculator that can do following operations1. Add2. Sub3. Multiply4. Division5. Mod6. Pow7. SQRT0. Exit

a = int(input("Enter a value:"))
b = int(input("Enter a value:"))
operator = input("Enter a operator")

if(operator =="+"):
    print(a+b)
elif(operator=="-"):
    print(a-b)
elif(operator=="*"):
    print(a*b)
elif(operator=="/"):
    print(a/b)
elif(operator=="%"):
    print(a%b)
elif(operator=="**"):
    print(a**2,b**2)

Enter a value: 10
Enter a value: 20
Enter a operator **

100 400

In [10]:
import random as rd
a=rd.randint(1,10)
print(a)

8

In [12]:
n = int(input("Enter a value:"))
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print()

Enter a value: 5

*
**
***
****
*****

In [46]:
#Wap right angled pattern question
a = int(input("Enter a value:"))
num = 5
for i in range(1,a+1):
    for j in range(5,i-1,-1):
        print(j,end="")
    print()

Enter a value: 5

54321
5432
543
54
5

In [30]:
def pat_tri(n):
    for i in range(1,n+1):
        for j in  range(n-i):
            print(" ",end = " ")
        for k in range(1,2*i):
            print("*",end = " ")
        print()
pat_tri(5)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [52]:
def new_one(n):
    num = 1
    for i in range(1,n+1):
        num = 1
        for j in range(1,i+1):
            print(num,end = " ")
            num = num + 1
        print("")
n = 5
new_one(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
#wap to print a rectangle
def rectangle(n):
    for i in range(0,n+1):
        for j in range(n):
            print(" *",end = '')
        print()

rectangle(5)

 * * * * *
 * * * * *
 * * * * *
 * * * * *
 * * * * *
 * * * * *

In [8]:
def left_tri(n):
    for i in range(0,n+1):
        for j in range(i+1):
            print("*",end = ' ')
        print()

left_tri(5)

*
* *
* * *
* * * *
* * * * *
* * * * * *